<section>
<div class="containerA">
    <div class="signup-form">
        <h1>Cadastro</h1>
            <%= form_for @user do |f| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                        <div class="alert-error">
                                   O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
                        </div>
                        <ul>
                                   <% @user.errors.full_messages.each do |msg| %>
                                   <li><%= msg %></li>
                                   <% end %>
                        </ul>
                    </div>
                <% end %>
            <%= f.text_field :name , placeholder: 'Nome'%>
            <%= f.text_field :username, placeholder: 'Nome de usuário', :required => true %>
            <%= f.email_field :email, placeholder: 'Email'%>
            <%= f.password_field :password, placeholder: 'Senha', :required => true %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirmar Senha', :required => true %>
            <%= f.submit "Cadastrar" %>
            <% end %>
    </div>
</div>
</section>